<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" href="style.css">
    <title>Dashboard</title>
</head>
<body>
    <!-- Display success message on sign up-->
  <% if (messages.success) { %>
    <% messages.success.forEach(function (success) { %>
      <div class="success">
      <p><%= success %></p>
      </div>
    <% }); %>
<% } %>

     <h1>Welcome to the dashboard!</h1>
    <a href="/logout">Logout</a>
    
</body>
</html>