<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Forgot Password</title>
</head>
<body>

    <h1>Forgot Password</h1>
    <form method="post" action="/forgot-password">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" aria-label="email field" required/>
        <button type="submit">Send Password Reset Email</button>
      </form>
      
</body>
</html>