<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Home</title>
</head>
<body>

     <!-- Display success message on sign up-->
  <% if (messages.success) { %>
    <% messages.success.forEach(function (success) { %>
      <div class="success">
      <p><%= success %></p>
      </div>
      <script>
        // Automatically hide the success message after 5 seconds (5000 milliseconds)
        setTimeout(function() {
          document.querySelector('.success').style.display = 'none';
        }, 5000);
      </script>
    <% }); %>
<% } %>

    <h1>Welcome to the home page!</h1>
    <div class="link-container">
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
    </div>
</body>
</html>