<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Reset Password</title>
</head>
<body>
    
    <h1>Reset Password</h1>
    <form method="post" action="/reset-password">
        <input type="hidden" name="token" value="<%= token %>" />
        <label for="password">New Password:</label>
        <input type="password" name="newPassword" id="password" aria-label="password field" required/>
        <button type="submit">Reset Password</button>
      </form>
      
</body>
</html>