<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Signup</title>
</head>
<body>
    <h1>Signup Page</h1>

    <% if (messages.error && messages.error.length > 0) { %>
        <div class="error-message">
            <%= messages %>
        </div>
    <% } %>

    <% if (messages.success && messages.success.length > 0) { %>
        <div class="success-message">
            <%= messages %>
        </div>
    <% } %>

    <form action="/signup" method="POST">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" aria-label="email field" required/>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" aria-label="password field" required/>

        <button type="submit">Sign Up</button>
    </form>
    
</body>
</html>
