* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.error {
    background-color: #ff3333;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
}

.success {
    background-color: #33cc33;
    color: #fff; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #008000;
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
}

h2 {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 20px;
  }

form {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.oauth-container {
    display: flex;
    justify-content: space-between;
  }

.oauth-button {
    display: flex;
  align-items: center;
  justify-content: center;
    font-size: 14px;
    padding: 10px;
    color: white;
    background-color: #24292e;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
  }

  .oauth-button:first-child {
    margin-right: 10px;
  }
  
  .oauth-button:last-child {
    margin-left: 10px;
  }
  
  .oauth-button:hover {
    background-color: #363f45;
  }

  .oauth-button i {
    font-size: 24px;
    margin-right: 10px;
  }
a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

a:nth-child(1) {
    margin-right: 10px;
}