.error {
    background-color: #ff3333; /* Red background */
    color: #fff; /* White text */
    padding: 15px; /* Padding around the message */
    margin-bottom: 15px; /* Space below the message */
    border: 1px solid #ff0000; /* Red border */
    border-radius: 5px; /* Rounded corners */
}

.success {
    background-color: #33cc33; /* Green background */
    color: #fff; /* White text */
    padding: 15px; /* Padding around the message */
    margin-bottom: 15px; /* Space below the message */
    border: 1px solid #008000; /* Green border */
    border-radius: 5px; /* Rounded corners */
}
